.header.clearfix
  .header__box
    = link_to root_path do
      app-title
  .header__contents
    %ul.header__contents__menu
      %li.header__contents__menu__list
        %p.header__contents__menu__list__select.first-select
          = link_to root_path do
            ホーム
        %p.header__contents__menu__list__select
          マイページ
        %p.header__contents__menu__list__select
          = link_to new_article_path do
            投稿
        %p.header__contents__menu__list__select
          = link_to new_user_session_path do
            新規登録&ログイン
